 {
    box-sizing: border-box;
}

header{
    font-size: 15px;
    font-style: bold;
    text-align: center;
}
body {
    color: black;/*#dce3ed;*/
    background-color: white;/*#3e4651;*/
    font-family: Arial;
    margin: 0;
}

table input{
    background-color: white;/*#627287;*/
}
table td button{
    background-color: #627287;
}

.navbar {
    font-size: 20px;
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    display: block;
    color: white; /*#dce3ed;*/
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}


.row {  

    display: flex;
    flex-wrap: wrap;
}

.content {
    flex: 30%;
    background-color: white; /*#3e4651;*/
    padding: 50px;
}
select{

    font-size: 15px;
}
option{
    font-size: 15px;
}
a:hover{
    color: blue;
}
p{
    font-size: 15px;
}

img{

    height: 200px;
    width: 300px;
}